USE [master]
GO
/****** Object:  Database [ComputerStoreManagement]    Script Date: 02/05/2025 2:47:42 CH ******/
CREATE DATABASE [ComputerStoreManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ComputerStoreManagement', FILENAME = N'D:\SQL Server 2022\MSSQL16.SQLEXPRESS\MSSQL\DATA\ComputerStoreManagement.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ComputerStoreManagement_log', FILENAME = N'D:\SQL Server 2022\MSSQL16.SQLEXPRESS\MSSQL\DATA\ComputerStoreManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ComputerStoreManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/****** Object:  Login [NT SERVICE\Winmgmt]    Script Date: 02/05/2025 2:47:43 CH ******/
CREATE LOGIN [NT SERVICE\Winmgmt] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT SERVICE\SQLWriter]    Script Date: 02/05/2025 2:47:43 CH ******/
CREATE LOGIN [NT SERVICE\SQLWriter] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT SERVICE\SQLTELEMETRY$SQLEXPRESS]    Script Date: 02/05/2025 2:47:43 CH ******/
CREATE LOGIN [NT SERVICE\SQLTELEMETRY$SQLEXPRESS] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT Service\MSSQL$SQLEXPRESS]    Script Date: 02/05/2025 2:47:43 CH ******/
CREATE LOGIN [NT Service\MSSQL$SQLEXPRESS] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT AUTHORITY\SYSTEM]    Script Date: 02/05/2025 2:47:43 CH ******/
CREATE LOGIN [NT AUTHORITY\SYSTEM] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [MSI\MSII]    Script Date: 02/05/2025 2:47:43 CH ******/
CREATE LOGIN [MSI\MSII] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [BUILTIN\Users]    Script Date: 02/05/2025 2:47:43 CH ******/
CREATE LOGIN [BUILTIN\Users] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [##MS_PolicyTsqlExecutionLogin##]    Script Date: 02/05/2025 2:47:43 CH ******/
CREATE LOGIN [##MS_PolicyTsqlExecutionLogin##] WITH PASSWORD=N'gMF8gD/C29kNKutq1TskcFhUzUnp7wn7xDr5qA4Uu3Q=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [##MS_PolicyTsqlExecutionLogin##] DISABLE
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [##MS_PolicyEventProcessingLogin##]    Script Date: 02/05/2025 2:47:43 CH ******/
CREATE LOGIN [##MS_PolicyEventProcessingLogin##] WITH PASSWORD=N'lZ2Xc7fvm9rlJ8qzhDmnVJJOdxjZNhtbFkmtdzS/oYg=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [##MS_PolicyEventProcessingLogin##] DISABLE
GO
ALTER AUTHORIZATION ON DATABASE::[ComputerStoreManagement] TO [MSI\MSII]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\Winmgmt]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\SQLWriter]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT Service\MSSQL$SQLEXPRESS]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [MSI\MSII]
GO
USE [ComputerStoreManagement]
GO
GRANT VIEW ANY COLUMN ENCRYPTION KEY DEFINITION TO [public] AS [dbo]
GO
GRANT VIEW ANY COLUMN MASTER KEY DEFINITION TO [public] AS [dbo]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 02/05/2025 2:47:44 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [varchar](10) NOT NULL,
	[CategoryName] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Categories] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 02/05/2025 2:47:44 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [varchar](10) NOT NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[PhoneNumber] [nvarchar](15) NOT NULL,
	[Email] [nvarchar](255) NULL,
	[Address] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[Point] [int] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Customers] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 02/05/2025 2:47:44 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [varchar](10) NOT NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[PhoneNumber] [nvarchar](15) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Position] [nvarchar](50) NOT NULL,
	[Gender] [nvarchar](10) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[DateOfBirth] [date] NULL,
	[Avatar] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Employees] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[InvoiceDetails]    Script Date: 02/05/2025 2:47:44 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceDetails](
	[InvoiceDetailID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceID] [int] NOT NULL,
	[ProductID] [varchar](10) NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[InvoiceDetails] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 02/05/2025 2:47:44 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [varchar](10) NULL,
	[EmployeeID] [varchar](10) NULL,
	[TotalAmount] [decimal](10, 2) NOT NULL,
	[InvoiceDate] [datetime] NULL,
	[StatusID] [int] NOT NULL,
	[PaymentMethodID] [varchar](10) NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[DiscountAmount] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Invoices] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[InvoiceStatus]    Script Date: 02/05/2025 2:47:44 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceStatus](
	[StatusID] [int] NOT NULL,
	[StatusName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[InvoiceStatus] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[PaymentMethods]    Script Date: 02/05/2025 2:47:44 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethods](
	[PaymentMethodID] [varchar](10) NOT NULL,
	[MethodName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentMethodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[PaymentMethods] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Products]    Script Date: 02/05/2025 2:47:44 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [varchar](10) NOT NULL,
	[ProductName] [nvarchar](255) NOT NULL,
	[CategoryID] [varchar](10) NULL,
	[SupplierID] [varchar](10) NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[StockQuantity] [int] NULL,
	[Specifications] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[Manufacturer] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Products] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Promotions]    Script Date: 02/05/2025 2:47:44 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotions](
	[PromotionID] [int] IDENTITY(1,1) NOT NULL,
	[PromotionName] [nvarchar](255) NOT NULL,
	[DiscountType] [nvarchar](20) NOT NULL,
	[DiscountValue] [decimal](10, 2) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[MinimumPurchase] [decimal](10, 2) NULL,
	[IsActive] [bit] NULL,
	[Description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[PromotionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Promotions] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[PurchaseOrderDetails]    Script Date: 02/05/2025 2:47:44 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrderDetails](
	[PurchaseOrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[PurchaseOrderID] [varchar](30) NOT NULL,
	[ProductID] [varchar](10) NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitCost] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PurchaseOrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[PurchaseOrderDetails] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[PurchaseOrders]    Script Date: 02/05/2025 2:47:44 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrders](
	[PurchaseOrderID] [varchar](30) NOT NULL,
	[SupplierID] [varchar](10) NULL,
	[EmployeeID] [varchar](10) NULL,
	[OrderDate] [datetime] NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PurchaseOrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[PurchaseOrders] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[RepairServices]    Script Date: 02/05/2025 2:47:44 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RepairServices](
	[RepairID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [varchar](10) NOT NULL,
	[EmployeeID] [varchar](10) NULL,
	[DeviceName] [nvarchar](255) NOT NULL,
	[Problem] [nvarchar](max) NOT NULL,
	[DiagnosisResult] [nvarchar](max) NULL,
	[RepairCost] [decimal](10, 2) NULL,
	[ReceiveDate] [datetime] NULL,
	[EstimatedCompletionDate] [datetime] NULL,
	[ActualCompletionDate] [datetime] NULL,
	[Status] [nvarchar](50) NULL,
	[Notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[RepairID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[RepairServices] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Returns]    Script Date: 02/05/2025 2:47:44 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Returns](
	[ReturnID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceDetailID] [int] NOT NULL,
	[ReturnDate] [datetime] NULL,
	[ReturnReason] [nvarchar](max) NOT NULL,
	[Quantity] [int] NOT NULL,
	[ReturnAmount] [decimal](10, 2) NOT NULL,
	[ProcessedBy] [varchar](10) NULL,
	[Status] [nvarchar](20) NULL,
	[IsExchange] [bit] NULL,
	[NewProductID] [varchar](10) NULL,
	[Notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ReturnID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Returns] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 02/05/2025 2:47:44 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Roles] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 02/05/2025 2:47:44 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierID] [varchar](10) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[PhoneNumber] [nvarchar](15) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Suppliers] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Users]    Script Date: 02/05/2025 2:47:44 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [varchar](10) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[EmployeeID] [varchar](10) NULL,
	[IsActive] [bit] NULL,
	[LastLogin] [datetime] NULL,
	[CreatedAt] [datetime] NULL,
	[RoleID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Users] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Warranties]    Script Date: 02/05/2025 2:47:44 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Warranties](
	[WarrantyID] [varchar](10) NOT NULL,
	[InvoiceDetailID] [int] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[WarrantyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Warranties] TO  SCHEMA OWNER 
GO
INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (N'LAP', N'Laptop')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (N'LK', N'Linh kiện')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (N'MH', N'Màn hình')
GO
INSERT [dbo].[Customers] ([CustomerID], [FullName], [PhoneNumber], [Email], [Address], [CreatedAt], [Point], [UpdatedAt]) VALUES (N'GUEST', N'Khách vãng lai', N'0123456789', NULL, NULL, CAST(N'2025-04-06T00:29:08.730' AS DateTime), 80300, CAST(N'2025-05-01T21:26:40.740' AS DateTime))
INSERT [dbo].[Customers] ([CustomerID], [FullName], [PhoneNumber], [Email], [Address], [CreatedAt], [Point], [UpdatedAt]) VALUES (N'KH01', N'Trần Văn Khách', N'0812345678', N'khach@gmail.com', N'10 Võ Văn Tần, Quận 3, TP.HCM', CAST(N'2023-01-01T00:00:00.000' AS DateTime), 550100, CAST(N'2025-04-06T16:33:41.897' AS DateTime))
INSERT [dbo].[Customers] ([CustomerID], [FullName], [PhoneNumber], [Email], [Address], [CreatedAt], [Point], [UpdatedAt]) VALUES (N'KH02', N'Lê Thị Hàng', N'0823456789', N'hang@gmail.com', N'20 Võ Thị Sáu, Quận 1, TP.HCM', CAST(N'2023-01-15T00:00:00.000' AS DateTime), 1234, CAST(N'2025-04-26T15:53:30.137' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[InvoiceDetails] ON 

INSERT [dbo].[InvoiceDetails] ([InvoiceDetailID], [InvoiceID], [ProductID], [Quantity], [UnitPrice]) VALUES (1, 1, N'SP001', 1, CAST(24500000.00 AS Decimal(10, 2)))
INSERT [dbo].[InvoiceDetails] ([InvoiceDetailID], [InvoiceID], [ProductID], [Quantity], [UnitPrice]) VALUES (2, 2, N'SP002', 1, CAST(15000000.00 AS Decimal(10, 2)))
INSERT [dbo].[InvoiceDetails] ([InvoiceDetailID], [InvoiceID], [ProductID], [Quantity], [UnitPrice]) VALUES (3, 3, N'SP001', 1, CAST(24500000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[InvoiceDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Invoices] ON 

INSERT [dbo].[Invoices] ([InvoiceID], [CustomerID], [EmployeeID], [TotalAmount], [InvoiceDate], [StatusID], [PaymentMethodID], [Notes], [DiscountAmount]) VALUES (1, N'KH01', N'NV02', CAST(24500000.00 AS Decimal(10, 2)), CAST(N'2023-01-15T10:30:00.000' AS DateTime), 3, N'1', N'Khách đã thanh toán đầy đủ', CAST(0.00 AS Decimal(10, 2)))
INSERT [dbo].[Invoices] ([InvoiceID], [CustomerID], [EmployeeID], [TotalAmount], [InvoiceDate], [StatusID], [PaymentMethodID], [Notes], [DiscountAmount]) VALUES (2, N'KH03', N'NV03', CAST(15000000.00 AS Decimal(10, 2)), CAST(N'2023-01-20T14:45:00.000' AS DateTime), 3, N'2', N'Khách thanh toán qua MoMo', CAST(0.00 AS Decimal(10, 2)))
INSERT [dbo].[Invoices] ([InvoiceID], [CustomerID], [EmployeeID], [TotalAmount], [InvoiceDate], [StatusID], [PaymentMethodID], [Notes], [DiscountAmount]) VALUES (3, N'KH02', N'NV02', CAST(39700000.00 AS Decimal(10, 2)), CAST(N'2023-02-05T09:15:00.000' AS DateTime), 3, N'3', N'Khách thanh toán qua ZaloPay', CAST(0.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Invoices] OFF
GO
INSERT [dbo].[InvoiceStatus] ([StatusID], [StatusName], [Description]) VALUES (0, N'Chờ xử lý', N'Hóa đơn vừa được tạo, đang chờ xử lý')
INSERT [dbo].[InvoiceStatus] ([StatusID], [StatusName], [Description]) VALUES (1, N'Đã xác nhận', N'Hóa đơn đã được xác nhận')
INSERT [dbo].[InvoiceStatus] ([StatusID], [StatusName], [Description]) VALUES (2, N'Đã giao hàng', N'Đã giao hàng')
GO
INSERT [dbo].[PaymentMethods] ([PaymentMethodID], [MethodName], [Description]) VALUES (N'1', N'Tiền mặt', N'Thanh toán bằng tiền mặt tại cửa hàng')
INSERT [dbo].[PaymentMethods] ([PaymentMethodID], [MethodName], [Description]) VALUES (N'2', N'Momo', N'Thanh toán qua MoMo')
INSERT [dbo].[PaymentMethods] ([PaymentMethodID], [MethodName], [Description]) VALUES (N'3', N'Zalopay', N'Thanh toán qua ZaloPay')
GO
INSERT [dbo].[Products] ([ProductID], [ProductName], [CategoryID], [SupplierID], [Price], [StockQuantity], [Specifications], [Description], [CreatedAt], [UpdatedAt], [Manufacturer]) VALUES (N'LAP001', N'Sản phẩm mới', N'LAP', N'NCC01', CAST(1000.00 AS Decimal(10, 2)), 86, N'Thông số kỹ thuật mới', N'Mô tả sản phẩm mới', CAST(N'2025-04-05T14:47:14.420' AS DateTime), CAST(N'2025-05-01T17:11:50.983' AS DateTime), NULL)
INSERT [dbo].[Products] ([ProductID], [ProductName], [CategoryID], [SupplierID], [Price], [StockQuantity], [Specifications], [Description], [CreatedAt], [UpdatedAt], [Manufacturer]) VALUES (N'LAP002', N'Sản phẩm mới', N'LAP', N'NCC01', CAST(1000.00 AS Decimal(10, 2)), 88, N'Thông số kỹ thuật mới', N'Mô tả sản phẩm mới', CAST(N'2025-04-25T15:47:58.973' AS DateTime), CAST(N'2025-04-25T15:47:58.973' AS DateTime), NULL)
INSERT [dbo].[Products] ([ProductID], [ProductName], [CategoryID], [SupplierID], [Price], [StockQuantity], [Specifications], [Description], [CreatedAt], [UpdatedAt], [Manufacturer]) VALUES (N'LAP003', N'Sản phẩm mới', N'LAP', N'NCC01', CAST(1000.00 AS Decimal(10, 2)), 88, N'Thông số kỹ thuật mới', N'Mô tả sản phẩm mới', CAST(N'2025-04-25T15:48:03.613' AS DateTime), CAST(N'2025-04-25T15:48:03.613' AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[Promotions] ON 

INSERT [dbo].[Promotions] ([PromotionID], [PromotionName], [DiscountType], [DiscountValue], [StartDate], [EndDate], [MinimumPurchase], [IsActive], [Description]) VALUES (1, N'Khuyến mãi mùa hè', N'Percentage', CAST(10.00 AS Decimal(10, 2)), CAST(N'2023-05-01' AS Date), CAST(N'2023-06-30' AS Date), CAST(5000000.00 AS Decimal(10, 2)), 1, N'Giảm 10% cho các đơn hàng từ 5 triệu trở lên')
INSERT [dbo].[Promotions] ([PromotionID], [PromotionName], [DiscountType], [DiscountValue], [StartDate], [EndDate], [MinimumPurchase], [IsActive], [Description]) VALUES (2, N'Black Friday', N'Percentage', CAST(20.00 AS Decimal(10, 2)), CAST(N'2023-11-24' AS Date), CAST(N'2023-11-26' AS Date), CAST(10000000.00 AS Decimal(10, 2)), 1, N'Giảm 20% cho các đơn hàng từ 10 triệu trở lên')
INSERT [dbo].[Promotions] ([PromotionID], [PromotionName], [DiscountType], [DiscountValue], [StartDate], [EndDate], [MinimumPurchase], [IsActive], [Description]) VALUES (3, N'Giảm giá đầu năm', N'Fixed Amount', CAST(1000000.00 AS Decimal(10, 2)), CAST(N'2023-01-01' AS Date), CAST(N'2023-01-31' AS Date), CAST(20000000.00 AS Decimal(10, 2)), 0, N'Giảm 1 triệu cho các đơn hàng từ 20 triệu trở lên')
SET IDENTITY_INSERT [dbo].[Promotions] OFF
GO
SET IDENTITY_INSERT [dbo].[PurchaseOrderDetails] ON 

INSERT [dbo].[PurchaseOrderDetails] ([PurchaseOrderDetailID], [PurchaseOrderID], [ProductID], [Quantity], [UnitCost]) VALUES (1, N'PO001', N'SP001', 5, CAST(20000000.00 AS Decimal(10, 2)))
INSERT [dbo].[PurchaseOrderDetails] ([PurchaseOrderDetailID], [PurchaseOrderID], [ProductID], [Quantity], [UnitCost]) VALUES (2, N'PO001', N'SP002', 10, CAST(12000000.00 AS Decimal(10, 2)))
INSERT [dbo].[PurchaseOrderDetails] ([PurchaseOrderDetailID], [PurchaseOrderID], [ProductID], [Quantity], [UnitCost]) VALUES (3, N'PO002', N'SP003', 15, CAST(4500000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[PurchaseOrderDetails] OFF
GO
INSERT [dbo].[PurchaseOrders] ([PurchaseOrderID], [SupplierID], [EmployeeID], [OrderDate], [Status]) VALUES (N'PO001', N'NCC01', N'NV04', CAST(N'2023-01-01T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[PurchaseOrders] ([PurchaseOrderID], [SupplierID], [EmployeeID], [OrderDate], [Status]) VALUES (N'PO002', N'NCC02', N'NV04', CAST(N'2023-01-15T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[PurchaseOrders] ([PurchaseOrderID], [SupplierID], [EmployeeID], [OrderDate], [Status]) VALUES (N'PO003', N'NCC03', N'NV04', CAST(N'2023-02-01T00:00:00.000' AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[RepairServices] ON 

INSERT [dbo].[RepairServices] ([RepairID], [CustomerID], [EmployeeID], [DeviceName], [Problem], [DiagnosisResult], [RepairCost], [ReceiveDate], [EstimatedCompletionDate], [ActualCompletionDate], [Status], [Notes]) VALUES (1, N'KH01', N'NV03', N'Laptop Dell XPS bị hỏng màn hình', N'Màn hình không hiển thị', N'Cần thay màn hình mới', CAST(3500000.00 AS Decimal(10, 2)), CAST(N'2023-02-01T00:00:00.000' AS DateTime), CAST(N'2023-02-05T00:00:00.000' AS DateTime), CAST(N'2023-02-04T00:00:00.000' AS DateTime), N'Completed', NULL)
INSERT [dbo].[RepairServices] ([RepairID], [CustomerID], [EmployeeID], [DeviceName], [Problem], [DiagnosisResult], [RepairCost], [ReceiveDate], [EstimatedCompletionDate], [ActualCompletionDate], [Status], [Notes]) VALUES (2, N'KH03', N'NV03', N'PC không khởi động được', N'Máy không lên nguồn', N'Hỏng nguồn, cần thay PSU', CAST(1200000.00 AS Decimal(10, 2)), CAST(N'2023-02-10T00:00:00.000' AS DateTime), NULL, CAST(N'2025-04-30T22:58:16.837' AS DateTime), N'Completed', N'test')
INSERT [dbo].[RepairServices] ([RepairID], [CustomerID], [EmployeeID], [DeviceName], [Problem], [DiagnosisResult], [RepairCost], [ReceiveDate], [EstimatedCompletionDate], [ActualCompletionDate], [Status], [Notes]) VALUES (3, N'KH02', NULL, N'Màn hình Dell 27 inch flicker', N'Màn hình chớp liên tục', NULL, CAST(0.00 AS Decimal(10, 2)), CAST(N'2023-02-20T00:00:00.000' AS DateTime), NULL, NULL, N'Cancelled', N'test hủy 2')
SET IDENTITY_INSERT [dbo].[RepairServices] OFF
GO
SET IDENTITY_INSERT [dbo].[Returns] ON 

INSERT [dbo].[Returns] ([ReturnID], [InvoiceDetailID], [ReturnDate], [ReturnReason], [Quantity], [ReturnAmount], [ProcessedBy], [Status], [IsExchange], [NewProductID], [Notes]) VALUES (2, 7, CAST(N'2023-03-10T00:00:00.000' AS DateTime), N'Sản phẩm không hoạt động', 1, CAST(2500000.00 AS Decimal(10, 2)), N'NV03', N'Approved', 0, NULL, NULL)
INSERT [dbo].[Returns] ([ReturnID], [InvoiceDetailID], [ReturnDate], [ReturnReason], [Quantity], [ReturnAmount], [ProcessedBy], [Status], [IsExchange], [NewProductID], [Notes]) VALUES (3, 10, CAST(N'2023-04-05T00:00:00.000' AS DateTime), N'Khách hàng đổi ý', 1, CAST(1200000.00 AS Decimal(10, 2)), N'NV02', N'Rejected', 0, NULL, NULL)
INSERT [dbo].[Returns] ([ReturnID], [InvoiceDetailID], [ReturnDate], [ReturnReason], [Quantity], [ReturnAmount], [ProcessedBy], [Status], [IsExchange], [NewProductID], [Notes]) VALUES (5, 81, CAST(N'2025-04-30T16:57:53.990' AS DateTime), N'test', 1, CAST(1000.00 AS Decimal(10, 2)), NULL, N'Approved', 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Returns] OFF
GO
INSERT [dbo].[Roles] ([RoleID], [RoleName], [Description]) VALUES (1, N'Admin', N'Quyền quản trị cao nhất')
INSERT [dbo].[Roles] ([RoleID], [RoleName], [Description]) VALUES (2, N'Manager', N'Quyền quản lý')
INSERT [dbo].[Roles] ([RoleID], [RoleName], [Description]) VALUES (3, N'Sales', N'Quyền nhân viên bán hàng')
GO
INSERT [dbo].[Suppliers] ([SupplierID], [Name], [PhoneNumber], [Email], [Address]) VALUES (N'NCC01', N'Công ty TNHH ABC', N'0912345678', N'abc@gmail.com', N'123 Nguyễn Trãi, Quận 1, TP.HCM')
INSERT [dbo].[Suppliers] ([SupplierID], [Name], [PhoneNumber], [Email], [Address]) VALUES (N'NCC02', N'Công ty TNHH XYZ', N'0923456789', N'xyz@gmail.com', N'456 Lê Lợi, Quận 5, TP.HCM')
INSERT [dbo].[Suppliers] ([SupplierID], [Name], [PhoneNumber], [Email], [Address]) VALUES (N'NCC03', N'Công ty TNHH DEF', N'0934567890', N'def@gmail.com', N'789 Lý Thường Kiệt, Quận 10, TP.HCM')
GO
INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [EmployeeID], [IsActive], [LastLogin], [CreatedAt], [RoleID]) VALUES (N'U001', N'admin', N'65536:qOsSbRuU5mH9BKtdIEfX2Q==:b8Uo1fwx2i4Jv7mHoOJhcQ==', N'NV00', 1, CAST(N'2025-05-02T14:32:51.330' AS DateTime), CAST(N'2025-03-21T17:07:22.423' AS DateTime), 1)
INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [EmployeeID], [IsActive], [LastLogin], [CreatedAt], [RoleID]) VALUES (N'U002', N'test2', N'65536:m7rXeQPIoyVh75uw33aufw==:Otv641VJK/CV/mG6Wq+wyg==', N'NV01', 1, CAST(N'2025-05-01T22:20:00.040' AS DateTime), CAST(N'2025-03-21T17:07:22.423' AS DateTime), 2)
INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [EmployeeID], [IsActive], [LastLogin], [CreatedAt], [RoleID]) VALUES (N'U003', N'binh', N'65536:m7rXeQPIoyVh75uw33aufw==:Otv641VJK/CV/mG6Wq+wyg==', N'NV02', 1, CAST(N'2025-04-28T00:02:29.190' AS DateTime), CAST(N'2025-03-21T17:07:22.423' AS DateTime), 3)
GO
INSERT [dbo].[Warranties] ([WarrantyID], [InvoiceDetailID], [StartDate], [EndDate]) VALUES (N'BH001', 1, CAST(N'2023-01-15' AS Date), CAST(N'2024-01-15' AS Date))
INSERT [dbo].[Warranties] ([WarrantyID], [InvoiceDetailID], [StartDate], [EndDate]) VALUES (N'BH002', 2, CAST(N'2023-01-20' AS Date), CAST(N'2024-01-20' AS Date))
INSERT [dbo].[Warranties] ([WarrantyID], [InvoiceDetailID], [StartDate], [EndDate]) VALUES (N'BH003', 3, CAST(N'2023-02-05' AS Date), CAST(N'2024-02-05' AS Date))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Categori__8517B2E0E4DF9741]    Script Date: 02/05/2025 2:47:45 CH ******/
ALTER TABLE [dbo].[Categories] ADD UNIQUE NONCLUSTERED 
(
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__85FB4E38741B55D6]    Script Date: 02/05/2025 2:47:45 CH ******/
ALTER TABLE [dbo].[Customers] ADD UNIQUE NONCLUSTERED 
(
	[PhoneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__85FB4E3872480970]    Script Date: 02/05/2025 2:47:45 CH ******/
ALTER TABLE [dbo].[Employees] ADD UNIQUE NONCLUSTERED 
(
	[PhoneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__A9D10534EBCD6CB9]    Script Date: 02/05/2025 2:47:45 CH ******/
ALTER TABLE [dbo].[Employees] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__InvoiceS__05E7698AA5925741]    Script Date: 02/05/2025 2:47:45 CH ******/
ALTER TABLE [dbo].[InvoiceStatus] ADD UNIQUE NONCLUSTERED 
(
	[StatusName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PaymentM__218CFB17127DB910]    Script Date: 02/05/2025 2:47:45 CH ******/
ALTER TABLE [dbo].[PaymentMethods] ADD UNIQUE NONCLUSTERED 
(
	[MethodName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__8A2B61605FB2D39B]    Script Date: 02/05/2025 2:47:45 CH ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Supplier__85FB4E3800EB502B]    Script Date: 02/05/2025 2:47:45 CH ******/
ALTER TABLE [dbo].[Suppliers] ADD UNIQUE NONCLUSTERED 
(
	[PhoneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Supplier__A9D10534A04CBB64]    Script Date: 02/05/2025 2:47:45 CH ******/
ALTER TABLE [dbo].[Suppliers] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E49D1306A4]    Script Date: 02/05/2025 2:47:45 CH ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ((0)) FOR [Point]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT (getdate()) FOR [InvoiceDate]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ((0)) FOR [StatusID]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ((1)) FOR [PaymentMethodID]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ((0)) FOR [DiscountAmount]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [StockQuantity]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Promotions] ADD  DEFAULT ((0)) FOR [MinimumPurchase]
GO
ALTER TABLE [dbo].[Promotions] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[PurchaseOrders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[PurchaseOrders] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[RepairServices] ADD  DEFAULT (getdate()) FOR [ReceiveDate]
GO
ALTER TABLE [dbo].[RepairServices] ADD  DEFAULT ('Received') FOR [Status]
GO
ALTER TABLE [dbo].[Returns] ADD  DEFAULT (getdate()) FOR [ReturnDate]
GO
ALTER TABLE [dbo].[Returns] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Returns] ADD  DEFAULT ((0)) FOR [IsExchange]
GO
ALTER TABLE [dbo].[Returns] ADD  DEFAULT ('') FOR [Notes]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[InvoiceDetails]  WITH CHECK ADD FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[Invoices] ([InvoiceID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvoiceDetails]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD FOREIGN KEY([PaymentMethodID])
REFERENCES [dbo].[PaymentMethods] ([PaymentMethodID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD FOREIGN KEY([StatusID])
REFERENCES [dbo].[InvoiceStatus] ([StatusID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Suppliers] ([SupplierID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[PurchaseOrderDetails]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[PurchaseOrderDetails]  WITH CHECK ADD FOREIGN KEY([PurchaseOrderID])
REFERENCES [dbo].[PurchaseOrders] ([PurchaseOrderID])
GO
ALTER TABLE [dbo].[PurchaseOrders]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[PurchaseOrders]  WITH CHECK ADD FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Suppliers] ([SupplierID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[RepairServices]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RepairServices]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Returns]  WITH CHECK ADD FOREIGN KEY([InvoiceDetailID])
REFERENCES [dbo].[InvoiceDetails] ([InvoiceDetailID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Returns]  WITH CHECK ADD FOREIGN KEY([NewProductID])
REFERENCES [dbo].[Products] ([ProductID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Returns]  WITH CHECK ADD FOREIGN KEY([ProcessedBy])
REFERENCES [dbo].[Employees] ([EmployeeID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Warranties]  WITH CHECK ADD FOREIGN KEY([InvoiceDetailID])
REFERENCES [dbo].[InvoiceDetails] ([InvoiceDetailID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD CHECK  (([Point]>=(0)))
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD CHECK  (([Gender]='Other' OR [Gender]='Female' OR [Gender]='Male'))
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [CK__Employees__Posit__5DCAEF64] CHECK  (([Position]='Stock Keeper' OR [Position]='Sales' OR [Position]='Manager' OR [Position]='Admin'))
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [CK__Employees__Posit__5DCAEF64]
GO
ALTER TABLE [dbo].[InvoiceDetails]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[InvoiceDetails]  WITH CHECK ADD CHECK  (([UnitPrice]>(0)))
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD CHECK  (([DiscountAmount]>=(0)))
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD CHECK  (([TotalAmount]>=(0)))
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD CHECK  (([Price]>(0)))
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD CHECK  (([StockQuantity]>=(0)))
GO
ALTER TABLE [dbo].[Promotions]  WITH CHECK ADD CHECK  (([DiscountType]='Fixed Amount' OR [DiscountType]='Percentage'))
GO
ALTER TABLE [dbo].[Promotions]  WITH CHECK ADD CHECK  (([EndDate]>=[StartDate]))
GO
ALTER TABLE [dbo].[Promotions]  WITH CHECK ADD CHECK  (([DiscountType]='Percentage' AND ([DiscountValue]>=(0) AND [DiscountValue]<=(100)) OR [DiscountType]='Fixed Amount' AND [DiscountValue]>=(0)))
GO
ALTER TABLE [dbo].[PurchaseOrderDetails]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[PurchaseOrderDetails]  WITH CHECK ADD CHECK  (([UnitCost]>(0)))
GO
ALTER TABLE [dbo].[PurchaseOrders]  WITH CHECK ADD CHECK  (([Status]='Delivering' OR [Status]='Cancelled' OR [Status]='Completed' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[RepairServices]  WITH CHECK ADD CHECK  (([Status]='Cancelled' OR [Status]='Delivered' OR [Status]='Completed' OR [Status]='Repairing' OR [Status]='Waiting for Parts' OR [Status]='Diagnosing' OR [Status]='Received'))
GO
ALTER TABLE [dbo].[Returns]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[Returns]  WITH CHECK ADD CHECK  (([ReturnAmount]>=(0)))
GO
ALTER TABLE [dbo].[Returns]  WITH CHECK ADD CHECK  (([Status]='Completed' OR [Status]='Rejected' OR [Status]='Approved' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[Warranties]  WITH CHECK ADD CHECK  (([EndDate]>[StartDate]))
GO
/****** Object:  Trigger [dbo].[trg_GenerateCustomerID]    Script Date: 02/05/2025 2:47:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Cập nhật trigger tự động tạo mã khách hàng và thiết lập UpdatedAt = CreatedAt
CREATE TRIGGER [dbo].[trg_GenerateCustomerID]
ON [dbo].[Customers]
INSTEAD OF INSERT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Tạo bảng tạm
    DECLARE @InsertedCustomers TABLE (
        RowNum INT IDENTITY(1,1),
        FullName NVARCHAR(255),
        PhoneNumber NVARCHAR(15),
        Email NVARCHAR(255),
        Address NVARCHAR(MAX),
        Point INT,
        CreatedAt DATETIME
    );
    
    -- Đưa dữ liệu vào bảng tạm
    INSERT INTO @InsertedCustomers (FullName, PhoneNumber, Email, Address, Point, CreatedAt)
    SELECT FullName, PhoneNumber, Email, Address, Point, ISNULL(CreatedAt, GETDATE())
    FROM inserted;
    
    -- Lấy mã tiếp theo
    DECLARE @NextCustomerID INT;
    SELECT @NextCustomerID = ISNULL(MAX(CAST(SUBSTRING(CustomerID, 3, LEN(CustomerID)-2) AS INT)), 0) + 1
    FROM Customers;
    
    -- Thêm dữ liệu với mã đã tạo và UpdatedAt = CreatedAt
    INSERT INTO Customers (CustomerID, FullName, PhoneNumber, Email, Address, Point, CreatedAt, UpdatedAt)
    SELECT 
        'KH' + RIGHT('0' + CAST((@NextCustomerID + RowNum - 1) AS VARCHAR(2)), 2),
        FullName, 
        PhoneNumber, 
        Email, 
        Address, 
        ISNULL(Point, 0), 
        CreatedAt,
        CreatedAt  -- Đặt UpdatedAt = CreatedAt khi thêm mới
    FROM @InsertedCustomers;
END;
GO
ALTER TABLE [dbo].[Customers] ENABLE TRIGGER [trg_GenerateCustomerID]
GO
/****** Object:  Trigger [dbo].[trg_UpdateCustomerTimestamp]    Script Date: 02/05/2025 2:47:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Tạo trigger để cập nhật UpdatedAt khi cập nhật thông tin khách hàng
CREATE TRIGGER [dbo].[trg_UpdateCustomerTimestamp]
ON [dbo].[Customers]
AFTER UPDATE
AS
BEGIN
    -- Chỉ cập nhật UpdatedAt nếu có trường nào đó thay đổi (trừ UpdatedAt)
    IF UPDATE(FullName) OR UPDATE(PhoneNumber) OR UPDATE(Email) 
       OR UPDATE(Address) OR UPDATE(Point)
    BEGIN
        UPDATE Customers
        SET UpdatedAt = GETDATE()
        FROM Customers c
        INNER JOIN inserted i ON c.CustomerID = i.CustomerID;
    END
END;
GO
ALTER TABLE [dbo].[Customers] ENABLE TRIGGER [trg_UpdateCustomerTimestamp]
GO
/****** Object:  Trigger [dbo].[trg_GenerateEmployeeID]    Script Date: 02/05/2025 2:47:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Cập nhật trigger tự động tạo mã nhân viên và thiết lập UpdatedAt = CreatedAt
CREATE TRIGGER [dbo].[trg_GenerateEmployeeID]
ON [dbo].[Employees]
INSTEAD OF INSERT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Tạo bảng tạm
    DECLARE @InsertedEmployees TABLE (
        RowNum INT IDENTITY(1,1),
        FullName NVARCHAR(255),
        PhoneNumber NVARCHAR(15),
        Gender NVARCHAR(10),
        DateOfBirth DATE,
        Email NVARCHAR(255),
        Position NVARCHAR(50),
        CreatedAt DATETIME
    );
    
    -- Đưa dữ liệu vào bảng tạm
    INSERT INTO @InsertedEmployees (FullName, PhoneNumber, Gender, DateOfBirth, Email, Position, CreatedAt)
    SELECT FullName, PhoneNumber, Gender, DateOfBirth, Email, Position, ISNULL(CreatedAt, GETDATE())
    FROM inserted;
    
    -- Lấy mã tiếp theo
    DECLARE @NextEmployeeID INT;
    SELECT @NextEmployeeID = ISNULL(MAX(CAST(SUBSTRING(EmployeeID, 3, LEN(EmployeeID)-2) AS INT)), 0) + 1
    FROM Employees;
    
    -- Thêm dữ liệu với mã đã tạo và UpdatedAt = CreatedAt
    INSERT INTO Employees (EmployeeID, FullName, PhoneNumber, Gender, DateOfBirth, Email, Position, CreatedAt, UpdatedAt)
    SELECT 
        'NV' + RIGHT('0' + CAST((@NextEmployeeID + RowNum - 1) AS VARCHAR(2)), 2),
        FullName, 
        PhoneNumber, 
        Gender,
        DateOfBirth,
        Email, 
        Position,
        CreatedAt,
        CreatedAt  -- Đặt UpdatedAt = CreatedAt khi thêm mới
    FROM @InsertedEmployees;
END;
GO
ALTER TABLE [dbo].[Employees] ENABLE TRIGGER [trg_GenerateEmployeeID]
GO
/****** Object:  Trigger [dbo].[trg_UpdateEmployeeTimestamp]    Script Date: 02/05/2025 2:47:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Tạo trigger để cập nhật UpdatedAt khi cập nhật thông tin nhân viên
CREATE   TRIGGER [dbo].[trg_UpdateEmployeeTimestamp]
ON [dbo].[Employees]
AFTER UPDATE
AS
BEGIN
    -- Chỉ cập nhật UpdatedAt nếu có trường nào đó thay đổi (trừ UpdatedAt)
    IF UPDATE(FullName) OR UPDATE(PhoneNumber) OR UPDATE(Email) 
       OR UPDATE(Position) OR UPDATE(Gender) OR UPDATE(DateOfBirth)
    BEGIN
        UPDATE Employees
        SET UpdatedAt = GETDATE()
        FROM Employees e
        INNER JOIN inserted i ON e.EmployeeID = i.EmployeeID;
    END
END;
GO
ALTER TABLE [dbo].[Employees] ENABLE TRIGGER [trg_UpdateEmployeeTimestamp]
GO
/****** Object:  Trigger [dbo].[trg_CalculateInvoiceTotal]    Script Date: 02/05/2025 2:47:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Trigger tự động tính tổng tiền hóa đơn
CREATE TRIGGER [dbo].[trg_CalculateInvoiceTotal]
ON [dbo].[InvoiceDetails]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Lấy các InvoiceID bị ảnh hưởng
    DECLARE @AffectedInvoiceIDs TABLE (InvoiceID INT);
    
    INSERT INTO @AffectedInvoiceIDs (InvoiceID)
    SELECT InvoiceID FROM inserted
    UNION
    SELECT InvoiceID FROM deleted;
    
    -- Cập nhật tổng tiền cho từng hóa đơn
    UPDATE inv
    SET TotalAmount = ISNULL((
        SELECT SUM(Quantity * UnitPrice)
        FROM InvoiceDetails
        WHERE InvoiceID = inv.InvoiceID
    ), 0)
    FROM Invoices inv
    INNER JOIN @AffectedInvoiceIDs a ON inv.InvoiceID = a.InvoiceID;
END;
GO
ALTER TABLE [dbo].[InvoiceDetails] ENABLE TRIGGER [trg_CalculateInvoiceTotal]
GO
/****** Object:  Trigger [dbo].[trg_GenerateProductID]    Script Date: 02/05/2025 2:47:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Trigger tự động tạo mã sản phẩm theo danh mục (LAP001, LK002, PC001...)
CREATE TRIGGER [dbo].[trg_GenerateProductID]
ON [dbo].[Products]
INSTEAD OF INSERT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Tạo bảng tạm
    DECLARE @InsertedProducts TABLE (
        RowNum INT IDENTITY(1,1),
        ProductName NVARCHAR(255),
        CategoryID VARCHAR(10),
        SupplierID VARCHAR(10),
        Price DECIMAL(10,2),
        StockQuantity INT,
        Specifications NVARCHAR(MAX),
        Description NVARCHAR(MAX)
    );
    
    -- Đưa dữ liệu vào bảng tạm
    INSERT INTO @InsertedProducts 
    (ProductName, CategoryID, SupplierID, Price, StockQuantity, Specifications, Description)
    SELECT ProductName, CategoryID, SupplierID, Price, StockQuantity, Specifications, Description
    FROM inserted;
    
    -- Thêm sản phẩm với mã tự động cho từng danh mục
    DECLARE @RowCount INT = (SELECT COUNT(*) FROM @InsertedProducts)
    DECLARE @CurrentRow INT = 1
    
    WHILE @CurrentRow <= @RowCount
    BEGIN
        DECLARE @CategoryID VARCHAR(10)
        DECLARE @NextProductNumber INT
        
        -- Lấy CategoryID của dòng hiện tại
        SELECT @CategoryID = CategoryID
        FROM @InsertedProducts
        WHERE RowNum = @CurrentRow
        
        -- Tìm số tiếp theo cho CategoryID cụ thể
        SELECT @NextProductNumber = ISNULL(MAX(CAST(SUBSTRING(ProductID, LEN(@CategoryID) + 1, 
                    LEN(ProductID) - LEN(@CategoryID)) AS INT)), 0) + 1
        FROM Products 
        WHERE ProductID LIKE @CategoryID + '%'
        
        -- Thêm sản phẩm với mã mới
        INSERT INTO Products 
        (ProductID, ProductName, CategoryID, SupplierID, Price, StockQuantity, Specifications, Description)
        SELECT 
            @CategoryID + RIGHT('000' + CAST(@NextProductNumber AS VARCHAR(3)), 3),
            ProductName, 
            CategoryID, 
            SupplierID, 
            Price, 
            ISNULL(StockQuantity, 0), 
            Specifications, 
            Description
        FROM @InsertedProducts
        WHERE RowNum = @CurrentRow
        
        SET @CurrentRow = @CurrentRow + 1
    END
END;
GO
ALTER TABLE [dbo].[Products] ENABLE TRIGGER [trg_GenerateProductID]
GO
/****** Object:  Trigger [dbo].[trg_UpdateInventoryAfterPurchase]    Script Date: 02/05/2025 2:47:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Trigger cập nhật tồn kho sau khi nhập hàng
CREATE TRIGGER [dbo].[trg_UpdateInventoryAfterPurchase]
ON [dbo].[PurchaseOrderDetails]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Cập nhật số lượng tồn kho
    UPDATE p
    SET StockQuantity = p.StockQuantity + i.Quantity
    FROM Products p
    INNER JOIN inserted i ON p.ProductID = i.ProductID;
END;
GO
ALTER TABLE [dbo].[PurchaseOrderDetails] ENABLE TRIGGER [trg_UpdateInventoryAfterPurchase]
GO
/****** Object:  Trigger [dbo].[trg_HandleProductReturn]    Script Date: 02/05/2025 2:47:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Trigger xử lý đổi/trả hàng
CREATE TRIGGER [dbo].[trg_HandleProductReturn]
ON Returns
[dbo].[Returns] UPDATE
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Xử lý khi trạng thái chuyển sang Completed
    IF EXISTS (
        SELECT 1 FROM inserted i 
        INNER JOIN deleted d ON i.ReturnID = d.ReturnID
        WHERE i.Status = 'Completed' AND d.Status <> 'Completed'
    )
    BEGIN
        -- Cập nhật tồn kho cho trường hợp trả hàng (không phải đổi)
        UPDATE p
        SET StockQuantity = p.StockQuantity + r.Quantity
        FROM Products p
        INNER JOIN inserted r ON p.ProductID = (
            SELECT ProductID 
            FROM InvoiceDetails 
            WHERE InvoiceDetailID = r.InvoiceDetailID
        )
        WHERE r.Status = 'Completed' AND r.IsExchange = 0;
        
        -- Cập nhật tồn kho cho trường hợp đổi hàng
        UPDATE p
        SET StockQuantity = p.StockQuantity - 1
        FROM Products p
        INNER JOIN inserted r ON p.ProductID = r.NewProductID
        WHERE r.Status = 'Completed' AND r.IsExchange = 1;
    END;
END;
GO
ALTER TABLE [dbo].[Returns] ENABLE TRIGGER [trg_HandleProductReturn]
GO
/****** Object:  Trigger [dbo].[trg_GenerateUserID]    Script Date: 02/05/2025 2:47:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   TRIGGER [dbo].[trg_GenerateUserID]
ON [dbo].[Users]
INSTEAD OF INSERT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Tạo bảng tạm để lưu dữ liệu
    DECLARE @InsertedUsers TABLE (
        RowNum INT IDENTITY(1,1),
        Username NVARCHAR(50),
        PasswordHash NVARCHAR(255),
        EmployeeID VARCHAR(10),
        RoleID INT,
        IsActive BIT,
        LastLogin DATETIME,
        CreatedAt DATETIME
    );
    
    -- Đưa dữ liệu vào bảng tạm
    INSERT INTO @InsertedUsers (Username, PasswordHash, EmployeeID, RoleID, IsActive, LastLogin, CreatedAt)
    SELECT Username, PasswordHash, EmployeeID, RoleID, IsActive, LastLogin, CreatedAt
    FROM inserted;
    
    -- Lấy ID tiếp theo
    DECLARE @NextUserID INT;
    SELECT @NextUserID = ISNULL(MAX(CAST(SUBSTRING(UserID, 2, LEN(UserID)-1) AS INT)), 0) + 1
    FROM Users;
    
    -- Thêm dữ liệu với ID đã tạo
    INSERT INTO Users (UserID, Username, PasswordHash, EmployeeID, RoleID, IsActive, LastLogin, CreatedAt)
    SELECT 'U' + RIGHT('000' + CAST((@NextUserID + RowNum - 1) AS VARCHAR(3)), 3),
           Username, PasswordHash, EmployeeID, RoleID, 
           ISNULL(IsActive, 1), 
           LastLogin, 
           ISNULL(CreatedAt, GETDATE())
    FROM @InsertedUsers;
END;
GO
ALTER TABLE [dbo].[Users] ENABLE TRIGGER [trg_GenerateUserID]
GO
/****** Object:  Trigger [dbo].[trg_SetWarrantyDates]    Script Date: 02/05/2025 2:47:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Trigger tự động tính ngày hết hạn bảo hành
CREATE TRIGGER [dbo].[trg_SetWarrantyDates]
ON [dbo].[Warranties]
INSTEAD OF INSERT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Lấy thông tin danh mục sản phẩm để xác định thời hạn bảo hành
    WITH ProductCategories AS (
        SELECT 
            i.InvoiceDetailID,
            p.CategoryID,
            i.WarrantyID,
            i.StartDate
        FROM inserted i
        INNER JOIN InvoiceDetails id ON i.InvoiceDetailID = id.InvoiceDetailID
        INNER JOIN Products p ON id.ProductID = p.ProductID
    )
    
    INSERT INTO Warranties (WarrantyID, InvoiceDetailID, StartDate, EndDate)
    SELECT 
        pc.WarrantyID,
        pc.InvoiceDetailID,
        pc.StartDate,
        CASE 
            -- Thời hạn bảo hành khác nhau theo danh mục
            WHEN pc.CategoryID = 'LAP' THEN DATEADD(YEAR, 1, pc.StartDate) -- Laptop: 2 năm
            WHEN pc.CategoryID = 'PC' THEN DATEADD(YEAR, 1, pc.StartDate)  -- Desktop: 3 năm
            WHEN pc.CategoryID = 'LK' THEN DATEADD(YEAR, 1, pc.StartDate)  -- Linh kiện: 1 năm
            WHEN pc.CategoryID = 'MH' THEN DATEADD(YEAR, 1, pc.StartDate)  -- Màn hình: 2 năm
            ELSE DATEADD(MONTH, 6, pc.StartDate)                          -- Mặc định: 6 tháng
        END
    FROM ProductCategories pc;
END;
GO
ALTER TABLE [dbo].[Warranties] ENABLE TRIGGER [trg_SetWarrantyDates]
GO
USE [master]
GO
